<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.its.tmdbapi">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher_movie_finder"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_movie_finder_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.AppCompat.DayNight.DarkActionBar">
        <activity android:name=".activity.SplashScreen">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".activity.FavoriteMoviesActivity" />
        <activity android:name=".activity.DetailMovieActivity" />
        <activity android:name=".activity.MainActivity">
        </activity>

        <provider
            android:name=".database.MovieContentProvider"
            android:authorities="com.its.tmdbapi.database.ContentProvider"
            android:exported="true" />
    </application>

</manifest>